<div class="content">
  <div class="row add-product">
    <button class="btn btn-fill btn-danger" type="submit" (click)="addReview()">
      Add reviews
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">reviews List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" *ngIf="reviews$ | async as reviews">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Product Name</th>
                  <th>Rating</th>
                  <th class="text-center">text</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let review of reviews">
                  <td>{{ review.product }}</td>
                  <td>{{ review.rating }}</td>
                  <td class="text-center">{{ review.text }}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
